#lg{
    color: blue;
    font-size: 95px;
}

#lo{
    color: red;
    font-size: 95px;
}

#lo1{
    color: yellow;
    font-size: 95px;
}
#ll{
    color: green;
    font-size: 95px;
}

.homepage h1{
    text-align: center;
}
.form{
    text-align: center;
}
.form input[type="text"]{
    display: inline-block;
    width: 400px;
    border-radius: 4px;
    height: 25px;
}

.btn{
    margin: 4px;
    border-radius: 2px;
}